body {
    color: #4a5454;
    background: radial-gradient(#ffffff, #f7f8f8);
    min-height: 95vh;
}
.cont{
    min-width: 250px;
    max-width: 650px;
    position: relative;/*←相対位置*/
    margin: 0 auto;
    text-align: center;
    box-sizing: border-box;
    /*←全て含めてmin-height:100vhに*/
}
footer {
    text-align: center;
    position: sticky;
    top: 100vh;
    width: 100%;
}

.title {
    text-align: center;
    margin: 30px;
    font-size: 42px;
    font-family: 'Montserrat Subrayada', sans-serif;
}

.birth_title{
    text-align: center;
    margin-top: 10px;
    font-size: 18px;
}

.birth_input{
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 10px auto;
    padding: 4px;
}
.btn_group{
    display: flex;
    justify-content: center;
}
.next{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 30px;
    border-radius: 100px;
}
.send{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 30px;  
    border-radius: 100px;
}
.back{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 30px;
    border-radius: 100px;
}
.btn_back{
    margin: 20px;
}
.btn_send {
    margin: 20px;
}
.name{
    margin-bottom: 4px;
    text-align: center;
    font-size: 18px;
}

.name_input{
    display: flex;
    justify-content: center;    
    margin: 0 auto;    
}

.email{
    margin-bottom: 4px;
    text-align: center;
    font-size: 18px;    
}

.email_input {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.passward {
    margin-bottom: 4px;
    text-align: center;
    font-size: 18px;
}
.passward_input{
    display: flex;
    justify-content: center;
    margin: 0 auto;        
}

/* 好きなスポーツ選択 */
.sports {
    margin-top: 20px;
    margin-bottom: 4px;
    text-align: center;
    font-size: 18px;
}
.sports_group{
    display: flex;
    justify-content: center;   
}
.container {
    max-width: 650px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
}

.toggle {
    position: relative;
    margin: 15px;
    padding: 15px 30px 15px 62px;
    border: 3px solid #fff;
    border-radius: 100px;
    color: #fff;
    background-color: #84bdcb;
    box-shadow: 0 0 20px rgba(0, 0, 0, .2);
    white-space: nowrap;
    cursor: pointer;
    transition: background-color .2s, box-shadow .2s;
}

.check {
    position: absolute;
    visibility: hidden;
}

.toggle::before {
    content: '';
    display: block;
    position: absolute;
    top: 10px;
    bottom: 10px;
    left: 10px;
    width: 32px;
    border: 3px solid #fff;
    border-radius: 100px;
    transition: background-color .2s;
}

.toggle:hover,
.check:focus+label {
    box-shadow: 0 0 20px rgba(0, 0, 0, .6);
}

.check:checked+label {
    background-color: #e89da1;
}

.check:checked+.toggle::before {
    background-color: #fff;
}
.other_group{
    display: flex;
    justify-content: center;    
}

.other{   
    max-width: 450px;
    text-align: left;
    margin: 10px;
    padding: 15px 30px 15px 30px;
    border: 3px solid #fff;
    border-radius: 100px;
    color: #fff;
    background-color: #84bdcb;
    box-shadow: 0 0 20px rgba(0, 0, 0, .2);
    white-space: nowrap;
    cursor: pointer;
    transition: background-color .2s, box-shadow .2s;
}
.other_txst{
    padding: 10px;
    background-color: #e1f3f3;
    border: none;
    border-radius: 100px;
}
.other:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, .6);
}
.other:hover {
    background-color: #e89da1;
}

.other_group {
    display: flex;
    justify-content: center;
}

.start {
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    font-size: 18px;
}
